.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.container {
padding-top: 0px;
}



header.masthead {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem; }


.nav-link {
  color: #0d98dd;
}



#motto{
  background: #b0b5ba;
  text-align: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  font: 16pt Georgia;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

#footerTest{
  background: #03509e;
  padding: 10px 0 15px 200px;
  width:100%;
}

.footerWrap{
  margin: auto;
  width: 700px;
  padding: 5px 0 5px 25px;
}

.toe{
  overflow: hidden;
  display: inline-block;
  width: 180px;
  margin: 0 15px 15px 0;
  font-size: 10pt;
  line-height: 1.6em;
  vertical-align: top;
}


.toe a{
  display: block;
  text-decoration: none;
  color: #fff;
}

.toe a:hover{
  text-decoration: underline;
}

.toe h3{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 12pt;
  display: inline-block;
  letter-spacing: 1px;
}
