
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.container {
padding-top: 0px;

}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("https://images.unsplash.com/photo-1475064042787-0209411c7765?auto=format&fit=crop&w=812&q=80") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
  header.masthead h1 {
    font-size: 2rem; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 1rem;
      padding-bottom: 9rem; }
      header.masthead h1 {
        font-size: 3rem; } }


.features-icons {
  padding-top: 5rem;
  padding-bottom: 2rem; }


.nav-link {
  color: #0d98dd;
}
