.container {
    margin-top: 30px;
    text-align: center;
  }

  .login-page {
    padding-top: 110px;
  }
  
  .title {
    margin-bottom: 40px;
  }
  
  .btn-login {
    display: block;
    margin: 15px auto;
    padding: 15px;
    padding-left: 20px;
    width: 230px;
    text-align: left;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
  }
  
  .btn-login:hover, 
  .btn-login:focus, 
  .btn-login:active {
    color: white;
  }
  
  .btn-google {
    background-color: #DB4437;
  }
  
  .btn-google:hover,
  .btn-google:focus,
  .btn-google:active {
    background-color: #DB4437;  
  }

  .thumbnail {
    position: relative;
  }
  
  .caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
  }
  
  .img-responsive {
  height:650px;
  width: 100%;
  }