
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700; }

.container {
padding-top: 0px;

}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("https://images.unsplash.com/photo-1475064042787-0209411c7765?auto=format&fit=crop&w=812&q=80") no-repeat center center;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }

  header.masthead .overlay {
    position: absolute;
    background-color: #cccccc;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3; }
    
  header.masthead h1 {
    font-size: 2rem; }
    
    header.masthead h3 {
      font-family: 'Helvetica Neue';
      font-size: 2rem; }

  @media (min-width: 768px) {
    header.masthead {
      padding-top: 1rem;
      padding-bottom: 9rem; }
      header.masthead h1 {
        font-size: 3rem; } }


.features-icons {
  padding-top: rem;
  padding-bottom: 4rem; }

  .features-icons h3{
    padding-top: 1rem;
   }
  

.nav-link {
  color: #0d98dd;
}

.menuButton {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 170px;
  height: 70px;
  background: rgba(236,80,51, 0.5); /* Green background with 30% opacity */
  font-family: 'Century Gothic';
  padding-top: 25px;
}

.menuButton:hover {
  background: rgba(236,80,51, 0.8) /* Green background with 30% opacity */
}

.yogaBenifits {
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-family: 'Arial';
  font-size: 3rem;
  text-align: center;
  color:#ea5034;
}
.menuButton:focus {
  box-shadow: none;
}

.thumbnail {
  position: relative;
  width:100%;
}

.caption p{
  position: absolute;
  top: 45%;
  padding-right: 600px;
  width: 100%;
  color:#ffffff;
  font-size: 70px;
  font-family: 'Century Gothic';
}

.yogaCaption p{
  position: absolute;
  top: 8%;
  padding-right: 1000px;
  width: 100%;
  color:#ffffff;
  font-size: 70px;
  font-family: 'Century Gothic';
}

.aboutYogapro p{
  position: absolute;
  top: 35%;
  padding-right: 200px;
  padding-left: 200px;
  width: 100%;
  color:#ffffff;
  font-size: 30px;
  font-family: 'Century Gothic';
}

.img-responsive {
height:600px;
width:100%;
}