
#fullBg {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    background: url('https://images.unsplash.com/photo-1474557157379-8aa74a6ef541?auto=format&fit=crop&w=1350&q=80') no-repeat center center fixed;
    background-size: cover;
}

.form-signin {
  max-width: 280px;
  margin: 60px auto 10px;

  .form-signin-heading {
    text-align: center;
    font-weight: bold;
    color: #fff;
	  margin-bottom: 20px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;

	}



	
	


  .btn {
    color: red;
    font-weight: bold;
    border-radius: 3px;
    border: none;
  }
}

p.sign-up {
  color: #fff;
  font-size: 12px;
}
