.submitNav {
  padding-top: 50px;
}

.submitButton {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
}

.durationText {
  font-size: 35px;
  font-family: 'Century Gothic';
}

#select {
  font-size: 35px;
}

.step2Text {
  font-size: 35px;
  font-family: 'Century Gothic';
}
.workoutTime {
  padding-left: 20px;
  padding-top: 10px;
}

.tableStyle{
  
  font-size: 20px;
}

.btn {
  border: none;
}

.btn:hover {
  border:none;
}

.table-fixed thead tr th {
  background-color: #f75d40;
  border-color: #808080;
}
.table-fixed {
  width: 100%;
  text-align: ;
  background-color: #f3f3f3;
}

.col-xs-3 {
  text-align: center;
}