.cardStylePic {
border: 3px solid green;
margin-left: 400px;
padding-top:50px;
}

.title-pic {
    /* border: 3px solid pink; */
    text-align: center;
    color: #3d3d3d;
    font-family: "Oswald";
    font-weight: 700;
    font-size: 2.5em;
    padding-top: 70px;
    
   margin-left: 35px;
   
}

.card-time {
    /* border: 3px solid red; */
        text-align: center;
        color: #3d3d3d;
        font-family: "Oswald";
        font-weight: 300;
        font-size: 2.5em;
   
    
        margin-left: 35px;
      
}

.card-img-top-pic {
    border: 3px solid blue;
    text-align: center;
}

.resultBackground {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S7FfzzQmliwca04xu/beautiful-sky-and-sea-at-dusk-background-reflections-in-the-calm-water_htbkgffkhe_thumbnail-full01.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#topdiv {
    background-color: red;
}