.submitButton {
  text-align: center;
  padding-top: 25px;
}

.tableStyle{
  
  font-size: 20px;
}

.btn {
  border: none;
}

.btn:hover {
  border:none;
}

.table-fixed thead tr th {
  background-color: #f75d40;
  border-color: #808080;
}
.table-fixed {
  width: 100%;
  text-align: ;
  background-color: #f3f3f3;
}

.col-xs-3 {
  text-align: center;
}